@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,100&display=swap');

:root{
    --dark-blue:#1f2937; /*dark bg, info header, quote txt*/
    --off-white:#e5e7eb; /*secondary, links, quote bg*/
    --light-blue:#3882f6; /*button, call to action bg*/
    --almost-white:#f9faf8; /*main, logo*/
}
.default{
    display: flex;
    align-items: center;
    padding:4em 12%;
    min-height: calc(100vh - 12em);
}
body{
    margin: 0;
    font-family: Roboto;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 12%;
    height:4em;
    background-color: var(--dark-blue);
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap:15px;
}
a{
    color:var(--off-white);
    text-decoration:none;
}
.logo{
    color:var(--almost-white);
    font-size:24px;
    font-weight:700;
}
.links{
    font-size:18px;
}

#one{
    gap:5em;
    background-color: var(--dark-blue);
}
#one .subtext{
    color:var(--off-white);
    font-size:18px;
}
#one img{
    width:60%;
    border-radius:10px;
}
#one button{
    background-color:var(--light-blue);
    border-radius: 10px;
    border:0px;
    padding:6px 20px;
    font-size:18px;
    width:8em;
    color: var(--almost-white);
}
h1{
    color:var(--almost-white);
    font-size:48px;
    font-weight:bolder;
    margin:0;
}
.left{
    display: flex;
    flex-direction:column;
    gap:20px;
}
#two{
    flex-direction: column;
    justify-content: center;
    gap:4em;
}
h2{
    margin:0;
    font-size: 32px;
}
.gallery{
    display: flex;
justify-content: center;    gap:4em;
    flex-wrap: wrap;
}
.fragment{
    width:14em;
}
.fragment .container{
    width:14em;
    height:14em;
    overflow:hidden;
    border-radius:10px;
}
.fragment .subtext{
    padding-top:1em;
    text-align:center;
    font-size:18px;
    color:var(--dark-blue);
}
.container img{
    width:14em;
}

#three{
    flex-direction:column;
    justify-content: center;
    align-items:flex-end;
    background-color: var(--off-white);
}
.quote{
    font-size:36px;
    font-style: italic;
    font-weight:100;
}
.author{
    font-size: 24px;
    padding-top:1em;
}

footer{
    display: flex;
    justify-content:center;
    align-items: center;
    height:4em;
    background-color:var(--dark-blue);
    color:var(--almost-white);
    font-size: 18px;
}
footer img{
    width:30px;
    border-radius:50%;
    margin:0 5px;
}

#four .container{
    background-color: var(--light-blue);
    width:100%;
    min-height:20vh;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content:space-around;
    align-items:center;
    color:var(--almost-white);
    font-size:18px;
    gap:20px;
}
.container .left{
    gap:0;
}
h3{
    margin: 0;
}
#four button{
    background-color:var(--light-blue);
    border-radius: 10px;
    border:solid 2px var(--almost-white);
    padding:6px 20px;
    font-size:18px;
    width:8em;
    color: var(--almost-white);
}

@media (max-width: 35em){
    header{
        flex-direction:column;
        justify-content: center;
        align-items: flex-start;
        height:6em;
        gap:10px;
    }
    
}

@media (max-width: 45em){
    #one{
        flex-direction:column-reverse;
        justify-content: center;
        gap:0em;
    }
    #one img{
        width:100%;
        margin-bottom: 2em;
    }
    .fragment{
        width:76vw;
    }
    .fragment .container{
        width:76vw;
        height:76vw;
    }
    .container img{
        width:76vw;
    }
    .quote{
        font-size:24px;
    }
    .author{
        font-size:20px;
    }
    #four .container{
        flex-direction:column;
    }
    .container .left{
        align-items: center;
        text-align: center;
        width:80%;
        gap: 20px;
    }
}